Package: com.shiftcmdk.autoalerts
Name: AutoAlerts
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Automate alert actions.
Maintainer: shiftcmdk
Author: shiftcmdk
Section: Tweaks
Depiction: https://shiftcmdk.github.io/repo/depictions/?p=com.shiftcmdk.autoalerts
